%legend
  Join the
  = @challenge.name
  Bible Reading Challenge!
%p
  Sign up to join the #{@challenge.name} Bible Reading Challenge.  Each
  day's reading will be sent to your inbox, and you can click
  a link in the email to easily update your stats online.
%p
%br

%h4 Challenge Details

%table.table.table-striped.table-condensed
  %tr
    %td Begin Date:
    %td= @challenge.begindate
  %tr
    %td End Date:
    %td= @challenge.enddate
  %tr
    %td Bible Chapters:
    %td= @challenge.chapters_to_read


  - if current_user
    = form_for @membership do |f|
      - if @membership.errors.any?
        - flash[:error] = @membership.errors.full_messages.to_sentence
      = f.hidden_field :challenge_id, value: @challenge.id
      .row
        .col-md-6
          .control-group
            = f.label :email, "Email", class: "control-label"
            .controls
              = f.text_field :email, class: "input-xlarge"
              %p.help-block Enter your email to sign up!
        .col-md-6
          .control-group
            = f.label :bible_version, "Bible Version", class: "control-label"
            .controls
              = f.select :bible_version,  User::BIBLE_VERSIONS,  { include_blank: false },  { class: 'chosen-select' }
              %p.help-block Select the Bible version.
      .control-group
        = f.submit 'Join this Challenge', class: 'btn'
