.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-body
        - if @membership
          Hello#{ " " + @user.name },
          %br
          %br
          %div
            = form_tag membership_unsubscribe_destroy_path,method: "delete", class: 'form-inline' do
              = hidden_field_tag :token, 'token'
              Do you really want to be unsubscribed from
              %em
                #{@challenge.name}
              challenge?
              %br
              %br
              = submit_tag "Yes, unsubscribe me", class: 'btn btn-default btn-xs', disable_with: 'Please wait...'
            %br
            = button_to "Wait, keep me subscribed for now!", challenge_path(@challenge), method: :get, class:'btn btn-default btn-xs'
            %br
            %br
            = link_to "Return to challenge home page", challenge_path(@challenge)
        - else
          Please check the link you received in your email or maybe you have been already unsubscribed.
