= form_for @profile do |f|
  %legend
    = controller.action_name.capitalize
    Profile
  - if @profile.errors.any?
    - flash[:error] = @challenge.errors.full_messages.to_sentence
  %b Gravatar:
  = image_tag avatar_url(current_user, 55)
  = link_to "Edit your Gravatar", "http://gravatar.com"
  .control-group
    = f.label :username, "Username", class: "control-label"
    .controls
      = f.text_field :username, class: "form-control"
      %p.help-block Your username will be displayed by any comments you post
  .control-group
    = f.label :first_name, "First Name", class: "control-label"
    .controls
      = f.text_field :first_name, class: "form-control"
      %p.help-block 
  .control-group
    = f.label :last_name, "Last Name", class: "control-label"
    .controls
      = f.text_field :last_name, class: "form-control"
      %p.help-block
  .control-group
    = f.label :time_zone, "Your Time Zone", class: "control-label"
    .controls
      = f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s, class: "form-control"
      %p.help-block
  .control-group
    = f.label :preferred_reading_hour, "Your Preferred Reading Hour", class: "control-label"
    .controls
      = f.collection_select :preferred_reading_hour, (0..23).map {|n| number_to_hour_of_day(n)}, :to_i, :to_s, class: "form-control"
      %p.help-block
        Your daily reading e-mails will be sent out at #{number_to_hour_of_day(f.object.preferred_reading_hour)} #{ActiveSupport::TimeZone[f.object.time_zone]}

  .control-group
    = f.submit class: 'btn btn-success', disable_with: 'Please Wait...'

%br
%p
  = link_to "Change your account password", edit_user_registration_url
