%h3
  Memberships for 
  = link_to @challenge.name + " bible challenge", challenge_path(@challenge)

%br

%table.table.table-striped.table-condensed
  %tr
    %th Email
    %th User
    %th Name
    %th Version
    %th Partic
    %th Graph
  - @memberships.each do |m|
    %tr
      %td= m.user.email
      %td= m.user.username
      %td= m.user.fullname
      %td= m.bible_version
      %td= completion_ratio(m)
      %td= completion_graph(m)


