%h3
  Challenge settings for 
  = link_to @challenge.name + " bible challenge", challenge_path(@challenge)

%br

= form_for [@membership.challenge, @membership], method: :put do |f|
  .row
    .col-md-6
      .control-group
        = f.label :bible_version, "Preferred Bible Version", class: "control-label"
        .controls
          = f.select :bible_version,  select_options_for_bible,  { include_blank: false },  { class: 'chosen-select' }
          %br
          %br
        = f.submit 'Update my Challenge Settings', class: 'btn btn-success btn-sm', disable_with: 'Please Wait...'
%p
%br
%br
%br
= link_to raw("<i class='icon-warning-sign'></i>Unsubscribe me from this challenge"),challenge_membership_path(@challenge,@membership),method: :delete,confirm: 'Are you sure?',:class=>"btn btn-danger btn-sm"
