.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-body
        - if @membership
          Hello#{ " " + @user.profile.first_name unless @user.profile.first_name.blank?},
          %br
          %br
          %div
            = form_tag membership_unsubscribe_destroy_path,method: "delete", class: 'form-inline' do
              = hidden_field_tag :hash, @hash
              Do you really want to be unsubscribed from
              %em
                #{@challenge.name}
              challenge?
              = submit_tag "Yes", class: 'btn btn-default btn-xs', disable_with: 'Please wait...'
        - else
          Please check the link you received in your email or maybe you have been already unsubscribed.
