.section
  .col-md-4.col-md-offset-4
    %h3.text-center Change Password

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, role: 'form'}) do |f|
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}

      .subtitle.text-center
        If you would like to change your password, enter the new password in the two fields below
        and your current password in the bottom field, and click "Update"

      %br

      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "New Password"

      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control', placeholder: "New Password Again"

      %hr

      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: 'form-control', placeholder: "Current Password"
        %p.help-block

      = devise_error_messages!
      = f.submit "Update", class: 'btn btn-primary btn-block'
