.section
  .col-md-4.col-md-offset-4
    %h3.text-center
      = t 'devise.registrations.edit.change'

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, role: 'form'}) do |f|
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          = t 'devise.registrations.edit.waiting'
          #{resource.unconfirmed_email}

      .subtitle.text-center
        = t 'devise.registrations.edit.change_pass_instructions'

      %br

      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: I18n.t('devise.registrations.edit.new_pass')

      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control', placeholder: I18n.t('devise.registrations.edit.new_pass_again')

      %hr

      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: 'form-control', placeholder: I18n.t('devise.registrations.edit.current_pass')
        %p.help-block

      = devise_error_messages!
      = f.submit "Update", class: 'btn btn-primary btn-block'
