<div id="add-email" class="container">
  <h3>Welcome to Bible Challenges!</h3>
  <h4>Please choose password for your BC account</h4>
  <br/>
  <%= form_for(current_user, :as => 'user',
               url: finish_signup_path(current_user),
               html: { role: 'form'}
              ) do |f| %>

    <% if @show_errors && current_user.errors.any? %>
      <div id="error_explanation">
        <% current_user.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.hidden_field :id, value: current_user.id %>

      <div class="controls">
        <%= f.label :password %>
        <%= f.password_field :password,
          autofocus: true,
          class: 'form-control input-lg',
          placeholder: '' %>
      </div>
      <br/>

      <div class="controls">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation,
          autofocus: true,
          class: 'form-control input-lg',
          placeholder: 'Password Confirmation',
          autocomplete: 'off' %>
      </div>
      <% if params[:challenge_id].present? %>
        <%= hidden_field_tag :challenge_id, params[:challenge_id] %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit 'Continue', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
