.jumbotron
  %h2 Create a Bible Challenges Account
  %p.lead Creating an account allows you to maintain and edit the challenges that you create and easily keep track of the challenges that you have joined.
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    %div
      = f.label :email
      %br/
      = f.email_field :email, :autofocus => true
    %div
      = f.label :password
      %br/
      = f.password_field :password
    %div
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
    %br/
    %div= f.submit "Sign up", class:'btn btn-default btn-lg'
= render "devise/shared/links"
