.row
  .col-sm-12
    %h3
      =group.name
      .badge
        = group.members.count
        = "member".pluralize(group.members.count)
    %br
    /instant hangout not working properly
    /= instant_hangout


%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Members
      %th Chapters Read
      %th Last Read
  %tbody
  - group.memberships.each do |membership|
    %tr
      %td
        = render 'shared/avatar_medium', user: membership.user
        %span
          = membership.user.decorate.name
      %td= membership.membership_readings.size
      - unless membership.membership_readings.empty?
        %td
          %strong
            = membership.membership_readings.order(:created_at).last.chapter.book_and_chapter
          \-
          = time_ago_in_words(membership.last_recorded_reading_time)
          ago
      - else
        %td
          No readings yet

.row
  .col-sm-12
    .pull-right
      = render partial: "shared/groups/group_navigation", locals: {group: group}

      %span
%br

.row
  .col-sm-12
    %h4 Group Comments
    = render partial: 'groups/comment_form', locals: {comment: Comment.new, group: group}

.row
  .col-sm-12
    = render partial: 'groups/comments', locals: {comments: group.comments, group: group}
%br

.row
  .col-sm-12
    - @comments_json = ActiveModel::ArraySerializer.new(@group.comments.recent_last, each_serializer: CommentSerializer).to_json
    = react_component("CommentList", {commentableType: "Group", commentableId: @group.id, comments: eval(@comments_json), currentUserName: @current_user.name})

%br
%br