.row
  .col-sm-12
    %h3
      =group.name
      .badge
        = group.members.count
        = "member".pluralize(group.members.count)
    %br
    /instant hangout not working properly
    /= instant_hangout


%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Members
      %th Chapters Read
      %th Last Read
  %tbody
  - group.memberships.each do |membership|
    %tr
      %td
        = render 'shared/avatar_medium', user: membership.user
        %span
          = membership.user.decorate.name
      %td= membership.membership_readings.size
      %td
        %strong
          = membership.last_recorded_chapter
          \-
          = membership.last_recorded_reading_time

.row
  .col-sm-12
    .pull-right
      = render partial: "shared/groups/group_navigation", locals: {group: group}

      %span
%br

.row
  .col-sm-12
    %h4 Group Comments
    = render partial: 'groups/comment_form', locals: {comment: Comment.new, group: group}

.row
  .col-sm-12
    = render partial: 'groups/comments', locals: {comments: group.comments, group: group}
