.container

  %legend
    = "#{@reading.chapter.book_and_chapter}:"
    Discussion Forum

  = render 'challengestattable'

  - if @reading.owner == current_user || !@discussion_md.blank?
    %h4 Discussion / Questions
    %p
      = raw @discussion_md
    - if @reading.owner == current_user
      %p
        = link_to "Edit Discussion Question(s)", edit_reading_path(@reading)
    %br
  = render 'showhidechapter'
  = render partial: 'comment_form', locals: {comment: @comment, reading: @reading}
  %br

  %hr
  - unless @comments.empty?
    %h4 Impressions from others
    %table.table.table-striped.table-bordered.table-hover
      - @comments.each do |c|
        %tr
          %td 
            %div
              %i= c.content
            %div
              %b
                \-- #{image_tag(avatar_url(c.user, 16))} #{c.user.profile.username}
              = time_ago_in_words(c.created_at)
              ago
              |
              = link_to "respond", "#", class: "respond-comment"
              .comments
                - if c.comments.any?
                  %ul
                    - c.comments.each do |c|
                      %li
                        = c.content
                        %b
                          \-- #{image_tag(avatar_url(c.user, 16))} #{c.user.profile.username}
                        = time_ago_in_words(c.created_at)
                        ago
                = render "comments/comments/form", {commentable: c}
            - if current_user.comments.map(&:id).include?(c.id) # FIXME: Any reason for doing an extra query here for each comment?
              %div
                = link_to "Delete", [@reading, c], method: :delete, confirm: "Are you sure you want to delete this comment?"


- content_for :javascripts do
  :javascript
    $(".respond-comment").click(function (evt) {
      evt.preventDefault();
      evt.stopPropagation();
      $(this).next('.comments').find('.comment-form').removeClass('hide');
    });
