.container

  %legend
    = @reading.chapter.book_and_chapter

  %table.table.table-striped.table-condensed
    %tr
      %td Already read by:
      %td= @reading.membership_readings.read.count
    %tr
      %td Last read by:
      %td= @reading.try(:last_read_by).try(:username) || "no username"
    %tr
      %td Number of Verses:
      %td 
    %tr
      %td Number of Comments:
      %td 
  %hr

  %p
    This is a chapter page for the
    = @reading.challenge.name
    bible challenge.
    You are encouraged to post a comment related to 
    = @reading.chapter.book_and_chapter
    below; anything that stood out to you that you feel might benefit the other readers, or perhaps a question that others might answer.

  %br

  = link_to_function "Show / hide chapter text", "$('#chapter_text').toggle()"
  #chapter_text{style: "display: none;"}
    %br
    %h4
      =@reading.chapter.book_name
      =@reading.chapter.chapter_number
    - @verses.each do |v|
      %b=v.verse_number
      =v.versetext
      %br
    %br
    %br

  %br
  %br
  = render partial: 'comment_form', locals: {comment: @comment, reading: @reading}
  %br

  %hr
  - unless @comments.empty?
    %h4 Impressions from others
    %table.table.table-striped.table-bordered.table-hover
      - @comments.each do |c|
        %tr
          %td 
            %div
              %i= c.content
            %div
              %b
                = "--#{c.user.username}"
              = time_ago_in_words(c.created_at)
              ago
            - if current_user.comments.map(&:id).include?(c.id)
              %div
                = link_to "Delete", [@reading, c], method: :delete, confirm: "Are you sure you want to delete this comment?"

