- breadcrumb :reading, @reading
.container
  %br
  = breadcrumbs

  %br
  %br

  %legend
    = "#{@reading.chapter.book_and_chapter}:"

  #verses
    - @verses.each do |verse|
      = verse.decorate.to_div

  %hr

  .row-fluid
    .centered
      Click to Confirm you read this challenge chapter:
      %td{id: dom_id(@reading)}
        - if @membership
          = react_component 'ReadingButton',
            { reading_id: @reading.id, membership_id: @membership.id,
          membership_reading_id: @membership.membership_readings.find{|mr| mr.reading_id == @reading.id && mr.membership_id = @membership.id}.try(:id) } 
      %br
      - if @membership.readings.last.chapter_id == @reading.chapter_id
        = link_to "Back to Challenge", member_challenge_path(@membership.challenge)
      -else
        Next Chapter >> 
        = link_to @next_reading.chapter.book_and_chapter, reading_path(@next_reading)
      %br
      %br
