- breadcrumb :reading, @reading
.container
  %br
  = breadcrumbs

  %br
  %br

  %legend
    = "#{@reading.chapter.book_and_chapter}"

  #verses

    - @verses.each do |verse|
      = verse.decorate.to_div
    %br
  -if @verses.first.version == "RCV"
    %center
      %strong
        Verses accessed from the Holy Bible Recovery Version (text-only edition) © 2012 Living Stream Ministry www.lsm.org

  %hr

  .row-fluid
    .centered
      %td{id: dom_id(@reading)}
        - if @membership
          = render partial: 'shared/challenges/log_todays_reading', locals: {link_text: @reading.book_and_chapter, membership: @membership, todays_reading: @reading}
      %br
      - unless @reading.last_challenge_reading?
        Next Chapter >> 
        = link_to @reading.next_reading.chapter.book_and_chapter, reading_path(@reading.next_reading)
        %br
        %br
      = button_to "Back to Challenge", member_challenge_path(@membership.challenge), :method => :get
      %br
      %br
