%p
  %i
    = @newcomment.user.name
    responded to your comment:
    = # link_to @original_comment.commentable.chapter.book_and_chapter + ":", reading_path(@original_comment.commentable)
%p
  = @newcomment.content

%p
  %i
    Your original comment:

%p
  = @original_comment.content

%small
  If you would prefer not to receive these notifications, please adjust your notification preferences 
  #{link_to 'here', edit_user_url}
