%h2
  = t ('devise.unlocks.new.resend')
= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, :autofocus => true
  %div= f.submit I18n.t('devise.unlocks.new.resend')
= render "devise/shared/links"
