%table#templateBody{border: "0", cellpadding: "0", cellspacing: "0", style: "-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #F4F4F4;border-top: 1px solid #FFFFFF;border-bottom: 1px solid #CCCCCC;border-collapse: collapse;", width: "100%"}
  %tr
    %td.bodyContent{"mc:edit" => "body_content", style: "-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;line-height: 150%;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left;", valign: "top"}
      %h2{style: "display: block;font-family: Helvetica;font-size: 20px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;color: #404040;"} Today's reading
      %h4{style: "display: block;font-family: Helvetica;font-size: 14px;font-style: italic;font-weight: normal;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;color: #808080;"}
        =@chapter.book_name
        =@chapter.chapter_number
      %div{style:'color: #808080;'}
        %div{style:'float:right;font-size: 12px;'}
          You have completed #{@membership.membership_readings.read.count} of #{@membership.membership_readings.count} readings for this challenge membership.overall_progress_percentage
        %div{style:'clear:both;'}
        %div{style:'float:right;font-size: 12px;'}
          You have completed #{@membership.membership_readings.read.count} of #{@membership.readings.to_date(@reading_date).count} available readings for this challenge (#{@membership.to_date_progress_percentage(@reading_date)}%)
        %div{style:'clear:both;'}
        %div{style:'float:right;font-size: 12px;'}
          There are #{@membership.challenge.members.count} participants in this bible challenge.
        %div{style:'clear:both;'}
        %div{style:'float:right;font-size: 12px;'}
          A total of #{@membership.challenge.membership_readings.read.count} chapters have been read by all participants.
      %br
      %br
      -# Hello#{ " " + @user.profile.first_name unless @user.profile.first_name.blank?},
      Hello,
      %br
      Today's reading, for #{@reading.date.strftime("%b %-d %Y")}, is below.
      %br
      %br
      %hr
      %h2
        %center
          #{@chapter.book_name}  #{@chapter.chapter_number} (#{@membership.bible_version.upcase})

      %ol
        - @verses.each do |v|
          %li=raw v.versetext

      %br
      %center
        = link_to 'Confirm you read this chapter.',
          edit_membership_reading_url(@membership_reading.id,
          user_email: @user.email,
          user_token: @user.authentication_token)
      %br
      %small
        If you have any questions, check out our #{link_to "FAQ page", page_url("faq")}.  If your question isn't answered there you can ask us directly through our feedback form.
      %br
      %br
      %small
        If for ANY reason you would like to opt-out of this bible reading challenge, simply click
        #{link_to 'here', membership_unsubscribe_url(@membership.id)} here to be unsubscribed.
        
