.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      - if @membership_reading
        .panel-heading
          %h2.element
            #{@reading.chapter.book_name}  #{@reading.chapter.chapter_number}
        .panel-body
          %div#confirmation_container
            Hello#{ " " + @user.first_name unless @user.first_name.blank?},
            %br
            %br
            - if @membership_reading.state == 'unread'
              = form_tag membership_readings_log_path,method: "put", remote: true, class: 'form-inline' do
                = hidden_field_tag :hash, @hash
                Did you complete #{@reading.chapter.book_name} #{@reading.chapter.chapter_number}?
                = submit_tag "Yes", class: 'btn btn-default btn-xs', disable_with: 'Please wait...'
            - else
              You have already confirmed this read.
      - else
        .panel-body
          Please check the link you received in your email.
    .well.well-sm
      %center
        = link_to "Go to challenge page",'/'