%br
%br
%h3
  = @slug
%br
%h5
  Thank you for entering your reading!
  .panel.panel-info
    .panel-heading
      %h4= @reading_confirmation_stats.name
    .panel-body
      %p
        Total Challenge Members:
        = @reading_confirmation_stats.total_members
      %p
        You have read
        = @reading_confirmation_stats.read_chapters_over_total_chapters
        of the total chapters in this challenge.

  .panel.panel-info
    .panel-heading
      %h5
        %u
          Top Readers
          (Challenge Progress)
    .panel-body
      %table
        - @reading_confirmation_stats.memberships_by_percentage_challenge_completed.each do |x|
          %tr
            %td= x.name
            %td
              = x.membership_statistic_progress_percentage.value
              %span>%
  %p
    %strong
      = link_to "Go to Challenge", challenge_path(@reading_confirmation_stats.challenge, anchor: "statistics")
    %br
  %br
  .fb-share-button{"data-href" => "#{ENV['APP_URL']+'/challenges/'+@reading_confirmation_stats.slug}", "layout" => "button", "data-width" => "450"}
%br


:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '#{ENV['FACEBOOK_APP_ID']}',
      xfbml      : true,
      status    : true
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=#{ENV['FACEBOOK_APP_ID']}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
