.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      - if @membership_reading
        .panel-heading
          %h2.element
            #{@reading.chapter.book_name}  #{@reading.chapter.chapter_number}
        .panel-body
          %div#confirmation_container
            Hello#{ " " + @user.profile.first_name unless @user.profile.first_name.blank?},
            %br
            %br
            = form_for(@membership_reading) do
              = hidden_field_tag :token, 'token'
              = hidden_field_tag :location, reading_path(@reading)
              - if @membership_reading.state == 'unread'
                Did you complete #{@reading.chapter.book_name} #{@reading.chapter.chapter_number}?
                %br
                %br
                = submit_tag "Confirm reading #{@reading.chapter.book_name} #{@reading.chapter.chapter_number}", class: 'btn btn-default btn-xs', disable_with: 'Please wait...'
              - else
                = submit_tag "Unconfirm reading #{@reading.chapter.book_name} #{@reading.chapter.chapter_number}", class: 'btn btn-default btn-xs', disable_with: 'Please wait...'



            - if @membership_reading.state == 'read'
              %br
              You have confirmed this reading. Would you also like to comment on the chapter?
              = render partial: 'readings/comment_form', locals: {comment: @comment, reading: @membership_reading.reading}
      - else
        .panel-body
          Please check the link you received in your email.
    .well.well-sm
      %center
        = link_to "Go to your main challenge page",'/'
        - if @reading.present?
          %br
          %br
          = link_to "Go to chapter page for #{@reading.chapter.book_and_chapter}", reading_path(@reading)
