%section.container
  %h3
    = t 'pages.faq.faq'
  .list-group-item
    %h4.list-group-item-heading
      = t 'pages.faq.heading1'
    %p.list-group-item-text
      = t 'pages.faq.text1'

  .list-group-item
    %h4.list-group-item-heading
      = t 'pages.faq.heading2'
    %p.list-group-item-text
      = t 'pages.faq.text2'

  .list-group-item
    %h4.list-group-item-heading
      = t 'pages.faq.heading3'
    %p.list-group-item-text
      = t 'pages.faq.text3'

  .list-group-item
    %h4.list-group-item-heading
      = t 'pages.faq.heading4'
    %p.list-group-item-text
      = t 'pages.faq.text4'

  .list-group-item
    %h4.list-group-item-heading
      = t 'pages.faq.heading5'
    %p.list-group-item-text
      = t 'pages.faq.text5'
