-# - breadcrumb :challenge, @challenge
-# = breadcrumbs style: :ol, class: "breadcrumb breadcrumbs-minimal"

.section.primary
  .container
    = render 'shared/challenges/challenge_overview'
    - unless @challenge.owner == current_user
      = render partial: 'shared/challenges/challenge_unsubscribe', locals: {membership: @membership, challenge: @challenge}
    = render partial: 'shared/challenges/invite_friends'


.content
  .container
    %br
    %div{role: "tabpanel"}

      = render partial: "member/challenges/challenge_tabs", locals: {challenge: @challenge}

      .tab-content
        .tab-pane.active#readings{role: "tabpanel"}
          %h4
            Today's Reading (#{current_user.date_by_timezone.strftime("%m/%d/%Y")})

          - if @challenge.membership_for(current_user)
            = render partial: "shared/challenges/change_bible_version",
              locals: {membership: @membership}
            %br

          - # todo: refactor this to todays_chapters
          - @todays_readings.each do |todays_reading|
            - todays_verses = todays_reading.chapter.by_version(@membership.user.bible_version)

            = render partial: 'shared/challenges/todays_reading',
            locals: { todays_reading: todays_reading, todays_verses: todays_verses, bible_version: @membership.user.bible_version}

            = render partial: 'shared/challenges/log_todays_reading', locals: {link_text: todays_reading.book_and_chapter, membership: @membership, todays_reading: todays_reading}

            %br
            %br

          .panel.panel-primary
            .panel-heading Challenge Readings
            = render partial: 'shared/challenges/readings', locals: {readings: @readings}

        - if current_user.find_challenge_group(@challenge) != nil
          .tab-pane#mygroup{role: "tabpanel"}
            = render partial: 'shared/groups/show', locals: {group: @group}
        - else
          .tab-pane#groups{role: "tabpanel"}
            = render partial: 'shared/challenges/challenge_groups', locals: {groups: @groups, challenge: @challenge}
        .tab-pane#statistics{role: "tabpanel"}
          = render partial: 'shared/challenges/challenge_statistics', locals: {membership: @membership, challenge: @challenge, groups: @groups, user: @current_user}

:javascript
  // this is pulled from http://stackoverflow.com/questions/18999501/bootstrap-3-keep-selected-tab-on-page-refresh
  // store the currently selected tab in the hash value
  $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
    var id = $(e.target).attr("href").substr(1);
    window.location.hash = id;
  });

  // on load of the page: switch to the currently selected tab
  var hash = window.location.hash;
    $('#grouptabs a[href="' + hash + '"]').tab('show');
  
  $("#addFriendsToChallenge").on("click", function() {
    setTimeout(function (){
      $( "#addFriendsInput" ).focus();
    }, 0);
  });

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '#{ENV['FACEBOOK_APP_ID']}',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=#{ENV['FACEBOOK_APP_ID']}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
