-# - breadcrumb :challenge, @challenge
-# = breadcrumbs style: :ol, class: "breadcrumb breadcrumbs-minimal"


.section.primary
  .container
    .title
      = @challenge.name
    .subtitle
      %b
        = @challenge.chapters_to_read
      = @challenge.begindate.strftime("%-m/%-d/%Y")
      = "-"
      = @challenge.enddate.strftime("%-m/%-d/%Y")

    = image_tag @challenge.owner.image, title: @challenge.owner.username, class: "img-circle"

    - @challenge.members.each do |m|
      = image_tag m.image, title: m.username, class: "img-circle"

.content
  .container
    %div{role: "tabpanel"}
      %ul#grouptabs.nav.nav-tabs.nav-justified{role: "tablist"}
        %li.active{role: "presentation"}
          %a{href: "#readings", role: "tab", aria: {controls: "readings"}, data: {toggle: "tab"}} Readings
        - if current_user.find_challenge_group(@challenge) != nil
          %li{role: "presentation"}
            %a{href: "#mygroup", role: "tab", aria: {controls: "mygroup"}, data: {toggle: "tab"}} My Group
        - else
          %li{role: "presentation"}
            %a{href: "#groups", role: "tab", aria: {controls: "groups"}, data: {toggle: "tab"}} Groups
        %li{role: "presentation"}
          %a{href: "#statistics", role: "tab", aria: {controls: "statistics"}, data: {toggle: "tab"}} Statistics
        %li{role: "presentation"}
          %a{href: "#details", role: "tab", aria: {controls: "details"}, data: {toggle: "tab"}} Details


      .tab-content
        .tab-pane.active#readings{role: "tabpanel"}
          .col-lg-3.pull-right
            = render partial: 'shared/challenges/log_todays_reading', locals: {membership: @membership,
              todays_reading: @todays_reading}
          .col-lg-9
            = render partial: 'shared/challenges/todays_reading', locals: { todays_reading: @todays_reading,
            todays_verses: @todays_verses}


          .panel.panel-primary
            .panel-heading Challenge Statistics
            = render partial: 'shared/challenges/readings', locals: {readings: @readings}

          = render partial: 'shared/challenges/challenge_unsubscribe', locals: {membership: @membership, challenge: @challenge}

        - if current_user.find_challenge_group(@challenge) != nil
          .tab-pane#mygroup{role: "tabpanel"}
            = render partial: 'shared/groups/show', locals: {group: @group}
        - else
          .tab-pane#groups{role: "tabpanel"}
            = render partial: 'shared/challenges/challenge_groups', locals: {groups: @groups, challenge: @challenge}
        .tab-pane#statistics{role: "tabpanel"}
          = render partial: 'shared/challenges/challenge_statistics', locals: {membership: @membership, challenge: @challenge, groups: @groups, user: @current_user}
        .tab-pane#details{role: "tabpanel"}
          = render partial:  'shared/challenges/challenge_details', locals: {challenge: @challenge} 
:javascript
  // this is pulled from http://stackoverflow.com/questions/18999501/bootstrap-3-keep-selected-tab-on-page-refresh
  // store the currently selected tab in the hash value
  $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
    var id = $(e.target).attr("href").substr(1);
    window.location.hash = id;
  });

  // on load of the page: switch to the currently selected tab
  var hash = window.location.hash;
    $('#grouptabs a[href="' + hash + '"]').tab('show');
