-# - breadcrumb :challenge, @challenge
-# = breadcrumbs style: :ol, class: "breadcrumb breadcrumbs-minimal"

.section.primary
  .container
    .title
      = @challenge.name
    .pull-right
      .form-inline
        = form_tag sign_up_via_email_member_membership_path(challenge_id: @challenge.id), method: :post, class: "input-group" do
          = text_field_tag 'invite_email', nil, class: "form-control", hide_label:true, placeholder: "Add email here"

          %span.input-group-btn
            = submit_tag "Add", class: "btn btn-primary"
    .subtitle
      %b
        = @challenge.chapters_to_read
      %br
      = @challenge.begindate.strftime("%-m/%-d/%Y")
      = "-"
      = @challenge.enddate.strftime("%-m/%-d/%Y")

    = image_tag avatar_url(@challenge.owner, 20), size: "25x25", title: "Owner: #{@challenge.owner.name}", class: "img-circle"

    - @challenge.members.where.not(id: @challenge.owner.id).each do |m|
      = image_tag avatar_url(m, 20), size: "25x25",  title: m.name, class: "img-circle"

.content
  .container
    %div{role: "tabpanel"}
      %ul#grouptabs.nav.nav-tabs.nav-justified{role: "tablist"}
        %li.active{role: "presentation"}
          %a{href: "#readings", role: "tab", aria: {controls: "readings"}, data: {toggle: "tab"}} Readings
        - if current_user.find_challenge_group(@challenge) != nil
          %li{role: "presentation"}
            %a{href: "#mygroup", role: "tab", aria: {controls: "mygroup"}, data: {toggle: "tab"}} My Group
        - else
          %li{role: "presentation"}
            %a{href: "#groups", role: "tab", aria: {controls: "groups"}, data: {toggle: "tab"}} Groups
        %li{role: "presentation"}
          %a{href: "#statistics", role: "tab", aria: {controls: "statistics"}, data: {toggle: "tab"}} Statistics

      .tab-content
        .tab-pane.active#readings{role: "tabpanel"}
          = render partial: 'shared/challenges/log_todays_reading', locals: {membership: @membership,
            todays_reading: @todays_reading}

          = render partial: 'shared/challenges/todays_reading', locals: { todays_reading: @todays_reading,
          todays_verses: @todays_verses}


          .panel.panel-primary
            .panel-heading Challenge Readings
            = render partial: 'shared/challenges/readings', locals: {readings: @readings}

          - if @challenge.owner == current_user
            = link_to "Delete this Challenge", creator_challenge_path(@challenge), method: :delete, "data-confirm" => 'STOP! Deleting this challenge will remove all members from this challenge and destroy all groups! This cannot be undone! Are you SURE you want to do this?',:class=>"btn btn-danger pull-right"
          = render partial: 'shared/challenges/challenge_unsubscribe', locals: {membership: @membership, challenge: @challenge}

        - if current_user.find_challenge_group(@challenge) != nil
          .tab-pane#mygroup{role: "tabpanel"}
            = render partial: 'shared/groups/show', locals: {group: @group}
        - else
          .tab-pane#groups{role: "tabpanel"}
            = render partial: 'shared/challenges/challenge_groups', locals: {groups: @groups, challenge: @challenge}
        .tab-pane#statistics{role: "tabpanel"}
          = render partial: 'shared/challenges/challenge_statistics', locals: {membership: @membership, challenge: @challenge, groups: @groups, user: @current_user}


:javascript
  // this is pulled from http://stackoverflow.com/questions/18999501/bootstrap-3-keep-selected-tab-on-page-refresh
  // store the currently selected tab in the hash value
  $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
    var id = $(e.target).attr("href").substr(1);
    window.location.hash = id;
  });

  // on load of the page: switch to the currently selected tab
  var hash = window.location.hash;
    $('#grouptabs a[href="' + hash + '"]').tab('show');
