.title
  = @challenge.name
  .fb-like{"data-share" => "true", "data-show-faces" => "true", "data-width" => "450"}

  - if @challenge.owner == current_user
    = link_to "Owner Dashboard", creator_challenge_path(@challenge), :class=>"btn btn-success"

.subtitle
  %b
    = Chapter.book_and_chapter_from_pair(@challenge.book_chapters.first)
    to
    = Chapter.book_and_chapter_from_pair(@challenge.book_chapters.last)
  %br
  = @challenge.available_dates.first.strftime("%-m/%-d/%Y")
  = "-"
  = @challenge.available_dates.last.strftime("%-m/%-d/%Y")

- @challenge.members.each do |m|
  = render 'shared/avatar_medium', user: m

%br
%br
