%table.table.table-striped.table-condensed
  %tr
    %td Owner:
    %td
      = render 'shared/avatar', user: challenge.owner

  %tr
    %td Members:
    %td
      - challenge.members.each do |m|
        = render 'shared/avatar', user: m

  %tr
    %td Dates:
    %td
      =challenge.begindate.strftime("%-m/%-d/%Y") 
      = "-" 
      =challenge.enddate.strftime("%-m/%-d/%Y") 
  %tr
    %td Chapters:
    %td= challenge.chapters_to_read

  - if current_user && membership = challenge.membership_for(current_user)
    %tr
      %td Bible Version:
      %td
        = current_user.bible_version
        =link_to "Change", member_membership_path(membership), :method => :get
  - if challenge.owner == current_user
    %tr
      %td 
        = link_to "Delete this Challenge", creator_challenge_path(challenge), method: :delete, "data-confirm" => 'STOP! Deleting this challenge will remove all members from this challenge and destroy all groups! This cannot be undone. Are you SURE you want to do this?',:class=>"btn btn-info"
