= link_to challenge_path(challenge), :class => 'list-group-item', display: 'inline' do
  %span.badge
    = challenge.memberships.size
    = "member".pluralize(challenge.memberships.size)
  %h4.list-group-item-heading
    = "#{challenge.name}"

  %p.list-group-item-text
    = "#{challenge.begindate.strftime("%b %d, %Y")} - #{challenge.enddate.strftime("%b %d, %Y")}"

  %p.list-group-item-text
    - challenge.members.each do |m|
      = render 'shared/avatar', user: m
