.title
  = @challenge.name
  - if @challenge.owner == current_user
    = link_to "Owner Dashboard", creator_challenge_path(@challenge), :class=>"btn btn-success"

.subtitle
  %b
    = @challenge.chapters_to_read
  %br
  = @challenge.begindate.strftime("%-m/%-d/%Y")
  = "-"
  = @challenge.enddate.strftime("%-m/%-d/%Y")

- @challenge.members.each do |m|
  = render 'shared/avatar_medium', user: m

%br
%br
