.title
  Challenge:
  = @challenge.name

%p
  - if @challenge.owner == current_user
    = link_to "Owner-Dashboard", creator_challenge_path(@challenge), :class=>"btn-sm btn-default"

.subtitle
  %b
    = Chapter.book_and_chapter_from_pair(@challenge.book_chapters.first)
    to
    = Chapter.book_and_chapter_from_pair(@challenge.book_chapters.last)
  %br
  = @challenge.available_dates.first.strftime("%-m/%-d/%Y")
  = "-"
  = @challenge.available_dates.last.strftime("%-m/%-d/%Y")

- @challenge.members.each do |m|
  = medium_avatar(m)

%br
%br
