:javascript
  $(function () {
    $('[data-toggle="popover"]').popover()
    })


.container
  .row
    .col-md-8
      %h3 
        Challenge Groups
        %a.btn.btn-default{tabindex: "0", role: "button", :data => {:trigger => 'focus', :placement => 'right', :toggle => 'popover', :content => 'You can take on this challenge with companions by being in a group. Share your enjoyment of the Word. View group reading statistics' }, :title => 'Why join a group?'}
          %span.glyphicon.glyphicon-info-sign
      %ol.list-group
        - @challenge.groups.each do |g|
          - @group_member_count = @challenge.memberships.where(group_id: g).size
          %li.list-group-item.list-group-item-info
            = link_to g.name, member_group_path(id: g.id)

            %span.badge
              = @group_member_count
              = "member".pluralize(@group_member_count)
      .right
        = render 'shared/challenges/create_a_group'

      .left-bold
        Total Groups:
        = @challenge.groups.count

