:javascript
  $(function () {
    $('[data-toggle="popover"]').popover()
    })

.container
  .row
    .col-md-8
      %h3
        = t 'shared.challenges._challenge_groups.groups'
      %p
        = t 'shared.challenges._challenge_groups.why_groups'
      %br
      %table.table.table-bordered.table-hover
        %tbody
        - groups.each do |g|
          - group_member_count = challenge.memberships.where(group_id: g).size
          %tr
            %td
              %strong
                = g.name
              .pull-right
                - g.members.each do |m|
                  = render 'shared/avatar', user: m
                %span.badge
                  = group_member_count
                  = "member".pluralize(group_member_count)
            - if current_user
              %td.text-center
                - unless current_user.groups.include?(g)
                  = link_to I18n.t("shared.challenges._challenge_groups.join"), join_member_group_path(id: g.id), :class=> "btn btn-primary btn-sm", method: :post

      %span
        = render 'shared/challenges/create_a_group'
