%tr
  %td= reading.date.strftime("%-m/%-d")
  %td= link_to reading.chapter.book_and_chapter + "  (#{reading.comments.count})" , reading
  - if membership 
    %td[reading]{class: reading_css(reading)}
      - if reading.read_by?(current_user)
        = link_to "Mark as Unread", membership_reading_path(id: reading.membership_reading_for(membership), anchor: "readings"), class: "btn btn-primary delete", id: "unread",  method: :delete
      - else
        = link_to "Read", membership_readings_path(reading_id: reading.id, membership_id: membership.id, anchor: "readings"), class: "btn btn-primary", id: "read",  method: :post
