.container
  .col-md-4.col-md-offset-4
    %h2.text-center Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: 'form'}) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, placeholder: 'Password', class: 'form-control'

      .form-group
        = f.check_box :remember_me
        Remember me:

      = f.submit 'Sign in', disable_with: 'Please Wait...', class: 'btn btn-primary btn-block'
      
      = render 'devise/shared/links'
