.pull-right

%h4
  Group name:
  = "#{@group.name}"
%h4
  Owner:
  = @group.user.email
%h4
  Members:
  - @group.memberships.each do |m|
    = m.user.email

- if current_user
  - if current_user.groups.include?(@group)
    = link_to "Leave Group", leave_challenge_group_path(challenge_id: @challenge.id, id: @group.id), method: :post
  -else 
    = link_to "Join Group", join_challenge_group_path(challenge_id: @challenge.id, id: @group.id), method: :post
- else
  = link_to "Sign me up", new_user_registration_path
- if current_user && @group.user_id == current_user.id
  = link_to "Delete Group", challenge_group_path(challenge_id: @challenge.id, id: @group.id), method: :delete
