%table#templateBody{border: "0", cellpadding: "0", cellspacing: "0", style: "-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #F4F4F4;border-top: 1px solid #FFFFFF;border-bottom: 1px solid #CCCCCC;border-collapse: collapse;", width: "100%"}
  %tr
    %td.header{style: "padding: 20px; background-color: #0078b4; color: #fff;"}
      %h2{style: "display: block;font-family: Helvetica;font-size: 20px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 5px;margin-left: 0;text-align: center;"} Today's reading
      %h4{style: "display: block;font-family: Helvetica;font-size: 14px;font-style: italic;font-weight: normal;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;"}
  %tr
    %td.bodyContent{"mc:edit" => "body_content", style: "-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;line-height: 150%;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left;", valign: "top"}
      Hello!
      %br
      Today's reading for #{@readings.first.read_on.strftime("%b %-d %Y")}, is below.
      %br
      - @readings.each do |reading|
        - chapter = reading.chapter
        - verses = chapter.by_version(@membership.user.bible_version)
        %br
        %hr
        %h2
          %center
            #{chapter.book_name}  #{chapter.chapter_number} (#{@membership.user.bible_version.upcase})

        %ol
          - verses.each do |v|
            %li=raw v.text

        -if @membership.user.bible_version == "RCV"
          %center
            %strong
              Verses accessed from the Holy Bible Recovery Version (text-only edition) © 2012 Living Stream Ministry www.lsm.org
      %br
      %center
      %div{style: "font-family: Helvetica, Arial, sans-serif; border: 1px solid transparent;font-size: 16px;line-height: 1.6;border-radius: 4px;padding: 7px 15px 7px 15px;background-color: #0078b4;text-align:center;"}
        = link_to 'Confirm you read these chapters.', log_reading_url(membership_id: @membership.id, reading_ids: @reading_ids, user_email: @user.email, user_token: @user.authentication_token, source: :email, location: confirmation_membership_reading_path(id: @reading_ids, membership_id: @membership.id)), style: "color: white; text-decoration: none; font-size: 12px;"
      %br
      %small
        If you have any questions, check out our #{link_to "FAQ page", page_url("faq")}.  If your question isn't answered there you can ask us directly through our feedback form.
      %br
      %br
      %small
        If you wish to stop receiving this Daily Reading email notification, you can click here:
        #{link_to 'Manage your notification preferences.', edit_user_url}
      %br
      %br
      -unless @user == @membership.challenge.owner
        If for ANY reason you would like to opt-out of this bible reading challenge, simply click
        #{link_to 'Here', unsubscribe_member_membership_url(@membership.id, user_email: @user.email, user_token: @user.authentication_token)} here to be unsubscribed.
