.panel-body
  = "Members: #{challenge.memberships_count}"
  - challenge.members.each do |m|
    = image_tag m.image, title: m.username, class: "img-circle"
  = "Chapters: #{challenge.readings.size}"
  .pull-right
    = link_to "Show Challenge", challenge_path(challenge), :class => 'btn btn-info', display: 'inline'
.col-md-3
  = "Total Chapters To Read: #{challenge.readings.size}"
.col-md-3
  = "Total Chapters Read: #{challenge.membership_readings.size}"
.col-md-3
  = "Start Date: #{challenge.begindate.strftime("%b %d, %Y")}"
.col-md-3
  = "End Date: #{challenge.enddate.strftime("%b %d, %Y")}"
