- if current_user && @challenge.membership_for(current_user).nil?
  = form_for [@challenge, Membership.new] do |f|
    .row
      .col-md-6
        .control-group
          = f.label :bible_version, "Bible Version", class: "control-label"      
          .controls
            = f.select :bible_version,  Membership::BIBLE_VERSIONS,  { include_blank: false },  { class: 'chosen-select' }
            %p.help-block Select the Bible versin.
    .control-group
      = f.submit 'Join the Challenge', class: 'btn'
- else
  = form_for(MembershipForm.new,url: create_for_guest_challenge_memberships_path(@challenge)) do |f|
    .row
      .col-md-6
        .control-group
          = f.label :email, "Email", class: "control-label"      
          .controls
            = f.email_field :email, required: true, placeholder: "Email", class: 'form-control'
      .col-md-6
        .control-group
          = f.label :bible_version, "Bible Version", class: "control-label"      
          .controls
            = f.select :bible_version,  Membership::BIBLE_VERSIONS,  { include_blank: false },  { class: 'chosen-select' }
            %p.help-block Select the Bible versin.
    .control-group
      = f.submit 'Join the Challenge', class: 'btn'
