- if current_user
  - if @challenge.membership_for(current_user).nil?
    = form_for [@challenge, Membership.new] do |f|
      .row
        .col-md-6.col-md-offset-3
          %center
            = f.submit 'Join the Challenge', class: 'btn btn-success', disable_with: 'Please Wait...'
- else
  = form_for(MembershipForm.new,url: create_for_guest_challenge_memberships_path(@challenge)) do |f|
    .row
      .col-md-6.col-md-offset-3
        .control-group
          = f.label :email, "Email", class: "control-label"
          .controls
            = f.email_field :email, required: true, placeholder: "Email", class: 'form-control'
    %br
    %center
      .row
        .control-group
          = f.submit 'Join the Challenge', class: 'btn btn-success', disable_with: 'Please Wait...'
