%table.table.table-striped.table-bordered.table-hover.table-centered-text
  %tbody
    - if current_user && membership = @challenge.membership_for(current_user)
      %thead
        %tr
          %th Date
          %th Chapter(comments)
          %th 
            %span.glyphicon.glyphicon-ok
      - membership.membership_readings.each do |mr|
        %tr
          %td= mr.reading.date.strftime("%-m/%-d")
          %td= link_to mr.reading.chapter.book_and_chapter + "  (#{mr.reading.comments.count})" , mr.reading
          %td{id: "reading_tr_#{mr.id}"}
            - if mr.state == 'unread'
              = link_to raw('<span class="glyphicon glyphicon-unchecked"></span>'), membership_reading_path(id: mr.id), method: :put
            - else
              = link_to raw('<span class="glyphicon glyphicon-ok"></span>'), membership_reading_path(id: mr.id), method: :put



    - else
      %thead
        %tr
          %th Date
          %th Chapter
      - @readings.each do |reading|
        %tr
          %td= reading.date.strftime("%a, %-d %b %Y")
          %td= reading.chapter.book_and_chapter
