%table.table.table-striped.table-bordered.table-hover.table-centered-text
  %thead
    %tr
      %th Date
      %th Chapter
  %tbody
    - if current_user && membership = @challenge.membership_for(current_user)
      - membership.membership_readings.each do |mr|
        %tr{class: reading_row_class(mr),id: "reading_tr_#{mr.id}"}
          %td= mr.reading.date.strftime("%a, %-d %b %Y")
          %td= mr.reading.chapter.book_and_chapter
          - if mr.state == 'unread'
            %td
              = form_for(mr) do
                = submit_tag "Confirm", class: 'btn btn-default btn-xs', disable_with: 'Please wait...'
          - else
            %td
              = form_for(mr) do
                = submit_tag "Unconfirm", class: 'btn btn-default btn-xs', disable_with: 'Please wait...'



    - else
      - @readings.each do |reading|
        %tr
          %td= reading.date.strftime("%a, %-d %b %Y")
          %td= reading.chapter.book_and_chapter
