.pull-right
  %a.btn.btn-xs.btn-success{href: new_creator_challenge_url(subdomain:false)} Create A New Challenge

%h4 Joined Challenges
%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th URL
      %th Begin Date
      %th End Date
      %th Active?
  - @challenges.each do |challenge|
    %tr
      %td= challenge.name
      %td= link_to subdomain_url(challenge.subdomain), "http://" + subdomain_url(challenge.subdomain)
      %td= challenge.begindate
      %td= challenge.enddate
      %td= challenge.active ? "Yes" : "No"
%br/

- if @created_challenges.count > 0
  %h4 Created Challenges
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th URL
        %th Begin Date
        %th End Date
        %th Active?
    - @created_challenges.each do |challenge|
      %tr
        %td= challenge.name
        %td= link_to subdomain_url(challenge.subdomain), "http://" + subdomain_url(challenge.subdomain)
        %td= challenge.begindate
        %td= challenge.enddate
        %td= challenge.active ? "Yes" : "No"
        %td= link_to 'Details', creator_challenge_path(challenge)
  %br/
