.masthead.centered
  .container
    .row
      .col-md-8.col-md-offset-2
        / TODO
        / This should be <h1> instead of a div with a class which is semantically incorrect
        .title Bible Challenges
        .subtitle Create a Bible Reading Challenge for a church, small group, or student organization. Or join one below.
        -if current_user
          %a.btn{href: new_creator_challenge_path} Create a challenge
        -else
          %a.btn{href: new_user_registration_path} Sign me up!

.container
  -if params[:query].present?
    %h3.component-title Search Results
    .row
      - @public_challenges.each do |challenge|
        .col-md-6
          = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}
  - else
    / %h3.component-title Leaderboards
    .row
      .col-md-3
        = render partial: 'challenges/leaderboard_last_chapters'
      .col-md-3
        = render partial: 'challenges/leaderboard_all_time_streak'
      .col-md-3
        = render partial: 'challenges/leaderboard_current_streak'
      .col-md-3
        = render partial: 'challenges/leaderboard_chapters_all_time'

    .row
      .centered
        %hr
        This week's most-read chapter:
        %br
        %strong
          = @front_page_leaderboard.weeks_most_read_chapter

    - unless @my_challenges.blank?
      %h3.component-title My Current Challenges
      .row
        - @my_challenges.each do |challenge|
          .col-md-6
            = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}

    - unless @public_challenges.empty?
      %h3.component-title Popular Challenges
      .row
        - @public_challenges.each do |challenge|
          .col-md-6
            = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}
