.masthead.centered
  .container
    .row
      .col-md-8.col-md-offset-2
        / TODO
        / This should be <h1> instead of a div with a class which is semantically incorrect
        .title
          = t "challenges.index.title"
        .subtitle
          = t "challenges.index.subtitle"

        %a.btn{href: new_creator_challenge_path}
          = t "challenges.index.create"

.container
  - unless @public_challenges.empty?

    %h3.component-title 
      = t "challenges.index.current_challenges"
    .row
      - @public_challenges.each do |challenge|
        .col-md-6
          = render partial: 'shared/challenges/challenge_list_item', locals: {challenge: challenge}
