- breadcrumb :challenge, @challenge
.container
  = breadcrumbs
  = render 'shared/challenges/join_challenge'
  .row
  %br
  %br
  = render 'shared/challenges/challenge_details'
  %h4 Groups
  = render partial: 'groups', locals: { groups: @challenge.groups }


  = render 'shared/challenges/challenge_statistics'


  %h4 Readings
  = render partial: 'readings', locals: {readings: @challenge.readings }

  %br
  %br

  = render 'shared/challenges/challenge_unsubscribe'
