.section.primary
  .container
    = render 'shared/challenges/challenge_overview'

    .subtitle
      = render 'shared/challenges/challenge_instructions'

    %br
    .centered
      - if current_user
        = link_to I18n.t('challenges.show.join'), member_challenge_memberships_path(challenge_id: @challenge.id), method: :post, :class => 'btn block-center', display: 'inline'
      - unless current_user
        = link_to I18n.t('challenges.show.signup'), new_user_registration_path, :class => 'btn btn-primary'

.section.grey
  .container
    %h4 Groups
    = render partial: 'groups', locals: { groups: @challenge.groups }
    = render partial: 'shared/challenges/challenge_statistics', locals: {challenge: @challenge}

.section.grey
  .container
    .panel.panel-primary
      .panel-heading
        = t "challenges.show.panel_heading"
      = render partial: 'readings', locals: {readings: @readings }
