- breadcrumb :challenge, @challenge
.container
  = breadcrumbs
  = render 'shared/challenges/join_challenge'
  .container
    .row.col-md-6
      = render 'shared/challenges/challenge_groups'

    .row
    = render 'shared/challenges/challenge_details'

    = render 'shared/challenges/challenge_statistics'


    = render 'shared/challenges/readings_table'

    %br
    %br

    = render 'shared/challenges/challenge_unsubscribe'
