- breadcrumb :challenge, @challenge
.container
  = breadcrumbs
  %legend
    %center
      = render 'join_challenge'
    %p
    %br
  %p
    = render 'challenge_instructions'

  %hr
  .row.col-md-6
    = render 'challenge_groups'

  .row
  = render 'challenge_details'

  = render 'challenge_statistics'


  = render 'readings_table'

  %br
  %br

  = render 'challenge_unsubscribe'
