- breadcrumb :challenge, @challenge
.container
  = breadcrumbs
  %legend
    %center
      = render 'join_challenge'
  %p
  %br
  %br
  %p
    = render 'challenge_instructions'

  %hr
  = render 'challenge_groups'


  = render 'challenge_details'

  = render 'challenge_statistics'


  = render 'readings_table'

  %br
  %br

  = render 'challenge_unsubscribe'
