.container

  / My memberhip button
  - if current_user && @challenge.membership_for(current_user)
    .pull-right
      = link_to 'My Membership', '/my-membership', class: 'btn btn-primary btn-xs'

  %legend
    = @challenge.name
    Bible Reading Challenge!
  %p
    Each day's reading portion will be sent to your inbox, and you can click
    a link in the email to easily update your stats online.
  %p
  %br

  = render 'join_form'

  %h3 Challenge Details

  %table.table.table-striped.table-condensed
    %tr
      %td Begin Date:
      %td= @challenge.begindate
    %tr
      %td End Date:
      %td= @challenge.enddate
    %tr
      %td Bible Chapters:
      %td= @challenge.chapters_to_read

  %hr
  %h4 Readings

  = render 'readings_table'