- breadcrumb :challenge, @challenge
.container
  = breadcrumbs
  = render partial: 'shared/challenges/join_challenge', locals: { challenge: @challenge }
  .row
  %br
  %br
  = render partial:  'shared/challenges/challenge_details', locals: { challenge: @challenge }
  %h4 Groups
  = render partial: 'groups', locals: { groups: @challenge.groups }


  = render 'shared/challenges/challenge_statistics'


  %h4 Readings
  = render partial: 'readings', locals: {readings: @readings }

  %br
  %br

  = render 'shared/challenges/challenge_unsubscribe'
