= form_for [:creator, @challenge] do |f|
  %legend
    = controller.action_name.capitalize
    Challenge
  - if @challenge.errors.any?
    - flash[:error] = @challenge.errors.full_messages.to_sentence
  .control-group
    = f.label :name, "Challenge Name", class: "control-label"
    .controls
      = f.text_field :name, required: true, class: "form-control"
      %p.help-block The name of your challenge, for example "The Book of Acts in July"

  .control-group
    = f.label :subdomain, "Subdomain", class: "control-label"
    .controls
      = f.text_field :subdomain, required: true, class: "form-control"
      %p.help-block
        The subdomain is what we will use to create a unique URL for your bible challenge. For example if you choose "julyacts" as your subdomain, the URL for your challenge will be http://julyacts.biblechallenges.com

  .control-group
    = f.label :welcome_message, "Welcome Message", class: "control-label"
    .controls
      = f.text_area :welcome_message, required: false, class: "form-control"
      %p.help-block The welcome message is included in the email that is sent to those who join your challenge.  You can format the message using Markdown

  .control-group
    = f.label :begindate, "Begin Date", class: "control-label"
    .controls
      = f.text_field :begindate, value: f.object.begindate.try(:strftime,"%A, %-d %b, %Y"), required: true, class: "form-control", data: {behaviour: 'datepicker'}, id: 'challenge_begindate_input', disabled: botton_availability
      %p.help-block The begin date is the first day of your bible challenge.  On that day, the first emails containing the daily reading will go out.

  .control-group
    = f.label :chapters_to_read, "Chapters to Read", class: "control-label"
    .controls
      = f.text_field :chapters_to_read, required: true, class: "form-control", disabled: botton_availability
      %p.help-block Enter here, in reference form, the span of chapters you would like to read.  For example, "Matt 1-28"

  .control-group
    .controls
      = f.label :public, class: "control-label" do
        = f.check_box :public
        Viewable on the front page
      %p.help-block

  .control-group
    = f.submit class: 'btn btn-success', disable_with: 'Please Wait...'
    %br
    %br
    %br
    = link_to "Delete this challenge", confirm_delete_creator_challenge_url(@challenge),class: "btn btn-danger" unless @challenge.new_record?
    %br

:javascript

  $('#challenge_begindate_input').pickadate({
    // Escape any “rule” characters with an exclamation mark (!).
    format: 'dddd, dd mmm, yyyy',
    formatSubmit: 'yyyy-mm-dd',
    min: true,
    clear: '',
    hiddenPrefix: 'date_format_',
    hiddenSuffix: 'data'
  });
