= form_for [:creator, @challenge] do |f|
  %legend
    = controller.action_name.capitalize
    Challenge
  - if @challenge.errors.any?
    - flash[:error] = @challenge.errors.full_messages.to_sentence
  .row
    .col-md-8
      .control-group
        = f.label :name, "Challenge Name", class: "control-label"
        .controls
          = f.text_field :name, required: true, class: "form-control"
          %p.help-block The name of your challenge, for example "The Book of Acts in July"

      .control-group
        = f.label :begindate, "Begin Date", class: "control-label"
        .controls
          = f.text_field :begindate, value: f.object.begindate.try(:strftime,"%A, %-d %b, %Y"), required: true, class: "form-control", data: {behaviour: 'datepicker'}, id: 'challenge_begindate_input'
          %p.help-block The begin date is the first day of your bible challenge.  On that day, the first emails containing the daily reading will go out.

      .control-group
        = f.label :chapters_to_read, "Chapters to Read", class: "control-label"
        .controls
          = f.text_field :chapters_to_read, required: true, class: "form-control"
          %p.help-block Enter here, in reference form, the span of chapters you would like to read.  For example, "Matt 1-28"

      .control-group
        = f.label :dates_to_skip, "Dates to skip", class: "control-label"
        .controls
          = f.text_field :dates_to_skip, required: false, class: "form-control"
          %p.help-block Enter the dates you want to skip (explain format later)

      %h5.strong Days to skip
      Sunday
      = check_box_tag 'days_to_skip[]', '0', false
      &nbsp; Monday
      = check_box_tag 'days_to_skip[]', '1', false
      &nbsp; Tuesday
      = check_box_tag 'days_to_skip[]', '2', false
      &nbsp; Wednesday
      = check_box_tag 'days_to_skip[]', '3', false
      &nbsp; Thursday
      = check_box_tag 'days_to_skip[]', '4', false
      &nbsp; Friday
      = check_box_tag 'days_to_skip[]', '5', false
      &nbsp; Saturday
      = check_box_tag 'days_to_skip[]', '6', false

      %br
      %br
      %legend

      .control-group
        = f.submit class: 'btn btn-success', disable_with: 'Please Wait...'
        %br
        %br
        %br
        = link_to "Delete this challenge", confirm_delete_creator_challenge_url(@challenge),class: "btn btn-danger" unless @challenge.new_record?
        %br

:javascript

  $('#challenge_begindate_input').pickadate({
    // Escape any “rule” characters with an exclamation mark (!).
    format: 'dddd, dd mmm, yyyy',
    formatSubmit: 'yyyy-mm-dd',
    min: true,
    clear: '',
    hiddenPrefix: 'date_format_',
    hiddenSuffix: 'data'
  });
