= form_for [:creator, @challenge] do |f|
  %legend
    = controller.action_name.capitalize
    Challenge
  - if @challenge.errors.any?
    - flash[:error] = @challenge.errors.full_messages.to_sentence
  .control-group
    = f.label :name, "Challenge Name", class: "control-label"
    .controls
      = f.text_field :name, class: "form-control"
      %p.help-block The name of your challenge, for example "The Book of Acts in July"

  .control-group
    = f.label :subdomain, "Subdomain", class: "control-label"
    .controls
      = f.text_field :subdomain, class: "form-control"
      %p.help-block 
        The subdomain is what we will use to create a unique URL for your bible challenge. For example if you choose "julyacts" as your subdomain, the URL for your challenge will be http://julyacts.biblechallenges.com

  .control-group
    = f.label :begindate, "Begin Date", class: "control-label"
    .controls
      = f.text_field :begindate, class: "form-control", data: {behaviour: 'datepicker'}, id: 'challenge_begindate_input'
      %p.help-block The begin date is the first day of your bible challenge.  On that day, the first emails containing the daily reading will go out.

  .control-group
    = f.label :chapterstoread, "Chapters to Read", class: "control-label"
    .controls
      = f.text_field :chapterstoread, class: "form-control"
      %p.help-block Enter here, in reference form, the span of chapters you would like to read.  For example, "Matt 1-28"

  .control-group
    = f.submit class: 'btn', disable_with: 'Please Wait...'

:javascript
  $(function(){
    $('#challenge_begindate_input').datepicker({
      format:"yyyy-mm-dd",
      startDate: new Date()
    });
  });
