%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th Progress Percentage
      %th On-schedule Percentage
      %th Total Chapters Read
      %th Action
  %tbody
  - challenge.groups.each do |g|
    %tr
      %td= g.name
      %td= g.group_statistic_progress_percentage
      %td= g.group_statistic_on_schedule_percentage
      %td= g.group_statistic_total_chapters_read
      %td= link_to "Remove", creator_remove_group_from_challenge_path(id: g.id), method: :post, "data-confirm" => 'Are you sure you want to remove this group from the challenge? This will also destroy any comments on the group wall.', :class => "btn btn-danger btn-sm", :id => "remove_#{g.id}"


