%h3 Created Challenges
%table.table
  %tr
    %th Name
    %th URL
    %th Begin Date
    %th End Date
    %th Active?
    %th 
  - @challenges.each do |challenge|
    %tr
      %td= challenge.name
      %td= link_to subdomain_url(challenge.subdomain), "http://" + subdomain_url(challenge.subdomain)
      %td= challenge.begindate
      %td= challenge.enddate
      %td= challenge.active ? "Yes" : "No"  
      %td= link_to 'Details', creator_challenge_url(challenge)
%br/
