.container
  = form_for [:creator, @challenge] do |f|
    = f.label "Challenge Name"
    = f.text_field :name
    = f.label "Subdomain"
    = f.text_field :subdomain
    = f.label "Begin Date"
    = f.text_field :begindate
    = f.label "End Date"
    = f.text_field :enddate
    = f.submit
