= form_for [:creator, @challenge] do |f|
  = f.label :name
  = f.text_field :name
  = f.label :subdomain
  = f.text_field :subdomain
  = f.label :begindate
  = f.text_field :begindate
  = f.label :enddate
  = f.text_field :enddate
  = f.submit "Create Challenge"

