%br
%br
.container
  %h2
    Challenge:
    = link_to "#{@challenge.name}", challenge_path(@challenge), title: "Back to Challenge"
  %h5
    -if @challenge.joinable
      Status:
      %u
        Open 
    -else
      Status:
      %u
        Closed 
  %br
  = link_to "Edit", edit_creator_challenge_path(@challenge), :class=>"btn btn-default"
  = link_to "Delete", creator_challenge_path(@challenge), method: :delete, "data-confirm" => 'STOP! Deleting this challenge will remove all members from this challenge and destroy all groups! This cannot be undone! Are you SURE you want to do this?',:class=>"btn btn-danger"
  -if @challenge.joinable == true
    = link_to "Close Challenge", creator_challenge_toggle_path(@challenge), :class=>"btn btn-warning", :method => :get, "data-confirm" => 'By closing this challenge, others will no longer be able to join it.'
  -else 
    = link_to "Open Challenge", creator_challenge_toggle_path(@challenge), :class=>"btn btn-success", :method => :get, "data-confirm" => 'Opening this challenge will allow others to join.'
    /%input{:checked => @challenge.joinable ? "" : "checked", :name => "challenge-activity", :type => "checkbox" }/ Will revisit if we can get input to link with toggle controller
  = link_to "Send Challenge Snapshot Email", snapshot_email_creator_challenge_path(@challenge), method: :get, "data-confirm" => 'This will send a summary email of the challenge statistics up to the present day to all challenge members.', :class=>"btn btn-danger pull-right"

  = render partial: 'shared/challenges/invite_friends'
  %br
  %br

  .panel.panel-primary
    .panel-heading
      = "Total Members: #{@challenge.members.size} "
      &nbsp;&nbsp;
      = link_to new_creator_challenge_mass_email_path(@challenge.id), class: 'btn btn-success btn-xs', id: "Email All Members", :title => 'Email All Members', :rel => 'tooltip' do
        %span.glyphicon.glyphicon-envelope
    = render partial: 'creator/challenges/members_table', locals: {challenge: @challenge}
  %br

  .panel.panel-primary
    .panel-heading
      = "Total Groups: #{@challenge.groups.size} "
    = render partial: 'creator/challenges/groups_table', locals: {challenge: @challenge}
  %br
