%br
%br
.container
  %h3 
    ="Challenge: #{@challenge.name}"

  .panel.panel-primary
    .panel-heading
      All Members&nbsp;&nbsp;
      = link_to new_creator_challenge_mass_email_path(@challenge.id), class: 'btn btn-success btn-xs', id: "Email All Members", :title => 'Email All Members', :rel => 'tooltip' do
        %span.glyphicon.glyphicon-envelope
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Email
          %th Last Read
      %tbody
      - @challenge.members.each do |m|
        %tr
          %td
            = render 'shared/avatar_medium', user: m
            %span
              = m.decorate.name
          %td= m.email
          - if m.has_logged_a_reading?(@membership)
            %td= m.decorate.show_last_recorded_reading(@membership)
          - else
            %td
              No readings yet
  %br
  .panel.panel-primary
    .panel-heading All Groups
    = render partial: 'shared/statistics/group_stat', locals: {groups: @groups}
  %legend
  .row.col-md-6

  .row




  %br
  %br

