%br
%br
.container
  %h2
    Challenge:
    = link_to "#{@challenge.name}", challenge_path(@challenge), title: "Back to Challenge"

  = link_to "Edit", edit_creator_challenge_path(@challenge), :class=>"btn btn-default"
  = link_to "Delete", creator_challenge_path(@challenge), method: :delete, "data-confirm" => 'STOP! Deleting this challenge will remove all members from this challenge and destroy all groups! This cannot be undone! Are you SURE you want to do this?',:class=>"btn btn-danger"


  = render partial: 'shared/challenges/invite_friends'
  %br
  %br
  .panel.panel-primary
    .panel-heading
      = "Total Members: #{@challenge.members.size} "
      &nbsp;&nbsp;
      = link_to new_creator_challenge_mass_email_path(@challenge.id), class: 'btn btn-success btn-xs', id: "Email All Members", :title => 'Email All Members', :rel => 'tooltip' do
        %span.glyphicon.glyphicon-envelope
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Email
          %th Last Read
          %th Action
      %tbody
      - @challenge.memberships.each do |membership|
        %tr
          %td
            = render 'shared/avatar_medium', user: membership.user
            - if @challenge.owner == membership.user
              %span
                = "#{membership.user.decorate.name} (Owner)"
            - else 
              %span
                = membership.user.decorate.name
          %td= membership.user.email
          - unless membership.membership_readings.empty?
            %td= membership.user.decorate.show_last_recorded_reading(membership)
          - else
            %td
              No readings yet
          - if @challenge.owner == membership.user
            %td= "N/A"
          - else
            %td= link_to "Remove", creator_remove_member_from_challenge_path(id: membership.id), method: :post, "data-confirm" => 'Are you sure you want to remove this member from the challenge?', :class => "btn btn-danger btn-sm", :id => "remove_#{membership.id}"

  %br
  .panel.panel-primary
    .panel-heading
      = "Total Groups: #{@challenge.groups.size} "
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Progress Percentage
          %th On-schedule Percentage
          %th Total Chapters Read
          %th Action
      %tbody
      - @challenge.groups.each do |g|
        %tr
          %td= g.name
          %td= g.group_statistic_progress_percentage
          %td= g.group_statistic_on_schedule_percentage
          %td= g.group_statistic_total_chapters_read
          %td= link_to "Remove", creator_remove_group_from_challenge_path(id: g.id), method: :post, "data-confirm" => 'Are you sure you want to remove this group from the challenge? This will also destroy any comments on the group wall.', :class => "btn btn-danger btn-sm", :id => "remove_#{g.id}"

  %br
  %br

