%h3 Bible Reading Challenge Summary

%p
  Here is a summary of your Bible reading challenge.  Please review and click "Activate My Challenge" if everything looks ok
%p
  If you need to make more adjustments, click the edit button to edit your challenge.
  Once completed, your challenge will be available at
  = link_to subdomain_url(@challenge.subdomain), "http://" + subdomain_url(@challenge.subdomain)

%table.table
  %tr
    %td Challenge Name
    %td= @challenge.name
  %tr
    %td Challenge URL
    %td= link_to subdomain_url(@challenge.subdomain), "http://" + subdomain_url(@challenge.subdomain)
  %tr
    %td Begin Date
    %td= @challenge.begindate
  %tr
    %td End Date
    %td= @challenge.enddate
  %tr
    %td Chapters to Read
    %td= @challenge.chapters_to_read
  %tr
    %td
      = challenge_status_button
    %td
      = button_to 'Edit my Challenge', edit_creator_challenge_path(@challenge), class: 'btn btn-primary btn-sm ', method: 'get'


