%br
%br
.container
  %h2
    Challenge:
    = link_to "#{@challenge.name}", challenge_path(@challenge), title: "Back to Challenge"
  %h5
    -if @challenge.joinable
      Status:
      %u
        Open 
    -else
      Status:
      %u
        Closed 
  %br
  = link_to "Edit Challenge", edit_creator_challenge_path(@challenge), :class=>"btn btn-default"
  = link_to "Delete Challenge", creator_challenge_path(@challenge), method: :delete, title: 'Delete Challenge', "data-confirm" => 'STOP! Deleting this challenge will remove all members from this challenge and destroy all groups! This cannot be undone! Are you SURE you want to do this?',:class=>"btn btn-danger"
  = render partial: 'shared/challenges/invite_friends'

  .panel.panel-primary
    .panel-heading
      = "Total Members: #{@challenge_members.size} "
      &nbsp;&nbsp;
      = link_to new_creator_challenge_mass_email_path(@challenge.id), id: "Email All Members", :title => 'Email All Challenge Members', "data-confirm" => 'Your message will be sent by email to ALL Challenge Members.  Continue?', class: 'btn btn-success btn-xs' do
        %span.glyphicon.glyphicon-envelope
        Message
      &nbsp;&nbsp;
      = link_to snapshot_email_creator_challenge_path(@challenge), method: :get, "data-confirm" => 'This will send a summary email of the challenge statistics up to the present day to all challenge members.', :title => 'Send Challenge Snapshot email', class: "btn btn-danger btn-xs" do
        %span.glyphicon.glyphicon-camera
        Snapshot email
    = render partial: 'creator/challenges/members_table', locals: {challenge_memberships: @challenge_memberships, challenge: @challenge}

  .panel.panel-primary
    .panel-heading
      = "Total Groups: #{@challenge.groups.size} "
    = render partial: 'creator/challenges/groups_table', locals: {challenge: @challenge}
  = link_to "Add a group", new_creator_challenge_group_path(challenge_id: @challenge.id), :class => 'btn btn-success btn-sm'
