= javascript_include_tag "//www.google.com/jsapi", "chartkick"
%span
  = line_chart @challenge_chart_data, stacked: true, discrete: true, ytitle: "chapters read"

%table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th
        %h6
          %strong
            = @challenge.name
      %th 
        %h6
          %strong
            By Me
      %th 
        %h6
          %strong
            By All Members
    %tbody
      %tr
        %td= @challenge.challenge_statistic_chapters_read.try(:name)
        %td= @membership.membership_statistic_total_chapters_read
        %td= @challenge.challenge_statistic_chapters_read
      %tr
        %td= @challenge.challenge_statistic_on_schedule_percentage.try(:name)
        %td= @membership.membership_statistic_on_schedule_percentage
        %td= @challenge.challenge_statistics.find_by_type("ChallengeStatisticOnSchedulePercentage")
      %tr
        %td= @challenge.challenge_statistic_progress_percentage.try(:name)
        %td= @membership.membership_statistic_progress_percentage
        %td= @challenge.challenge_statistic_progress_percentage
      %tr
        %td
          %u
            Last chapter read:
          &nbsp;
          -if @membership.membership_readings.any?
            %strong
              = @membership.membership_readings.order(:created_at).last.chapter.book_and_chapter
            ,
            = time_ago_in_words(@membership.membership_readings.order(:created_at).last.created_at)
            ago
          -else
            << no readings yet >>
