%span
%table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th 
        %h5
          %strong
            Group Name
      %th 
        %h5
          %strong
            Progress Percentage
      %th 
        %h5
          %strong
            On Schedule Percentage
  - groups.each do |g|
    %tbody
      %tr
        %td.col-md-4
          %strong
            = g.name
          &nbsp;
          - g.members.limit(5).each do |m|
            = render 'shared/avatar_medium', user: m
          %span.badge
            = "#{g.members.size}" + " member".pluralize(g.members.size)
        %td.col-md-3
          .progress
            .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", 
              "aria-valuenow" => "#{g.group_statistic_progress_percentage.try(:value)}", 
              :role => "progressbar", :style => "width: #{g.group_statistic_progress_percentage.try(:value)}%;"}
              #{g.group_statistic_progress_percentage.try(:value)}% Complete
        %td.col-md-3
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{g.group_statistic_on_schedule_percentage.try(:value)}", :role => "progressbar", :style => "width: #{g.group_statistic_on_schedule_percentage.try(:value)}%;"}
              #{g.group_statistic_on_schedule_percentage.try(:value)}% On Schedule

