%span
%table.table.table-bordered.table-hover.table-condensed
  %tbody
    - unless user.membership_readings.empty?
      %tr
        %td= "Last Read Chapter"
        %td
          %strong
            = user.last_chapter_posted
          (
          = time_ago_in_words(user.last_recorded_reading.created_at)
          ago )
    %tr
      %td= user.user_statistic_chapters_read_all_time.try(:name)
      %td= user.user_statistic_chapters_read_all_time
    %tr
      %td= user.user_statistic_days_read_in_a_row_current.try(:name)
      %td= user.user_statistic_days_read_in_a_row_current
    %tr
      %td= user.user_statistic_days_read_in_a_row_all_time.try(:name)
      %td= user.user_statistic_days_read_in_a_row_all_time
