%table#templateBody{border: "0", cellpadding: "0", cellspacing: "0", style: "-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #F4F4F4;border-top: 1px solid #FFFFFF;border-bottom: 1px solid #CCCCCC;border-collapse: collapse;", width: "100%"}
  %tr
    %td.bodyContent{"mc:edit" => "body_content", style: "-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #505050;font-family: Helvetica;font-size: 14px;line-height: 150%;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left;", valign: "top"}
      %h2{style: "display: block;font-family: Helvetica;font-size: 20px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;color: #404040;"} Challenge summary:
      %h4{style: "display: block;font-family: Helvetica;font-size: 14px;font-style: italic;font-weight: normal;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;color: #808080;"} Hi!
      Challenge "Snapshot" for:
      %strong
        = @challenge_snapshot.name
      %hr
      %br
      Total Chapters:
      %br
      = @challenge_snapshot.members.size
      Members read a total of
      = "#{@challenge_snapshot.total_chapters_read}"
      chapters!!!
      %br
      %br
      Chapter(s) read most often in the challenge:
      = @challenge_snapshot.most_read_chapters
      %br
      %br
      Most-read chapter(s) last week:
      = @challenge_snapshot.most_read_chapters_last_week
      %br
      %br

      Challenge members with the longest consecutive-days reading streak:
      = @challenge_snapshot.longest_individual_streaks.keys.to_sentence
      read for
      = @challenge_snapshot.longest_individual_streaks.values.first
      straight days!
      %br
      %br

      - if @challenge_snapshot.any_groups?
        Top Groups ranked by percentage complete:
        - @challenge_snapshot.groups_by_percentage_challenge_completed.each do |g|
          = g.name
          = g.group_statistic_progress_percentage.value
          %br
          %br

        Top Groups ranked by on-schedule reading:
        - @challenge_snapshot.groups_by_on_schedule_percentage.each do |g|
          = g.name
          = g.group_statistic_on_schedule_percentage.value
          %br
          %br

      Top Challenge Members ranked by overall progress percentage:
      - @challenge_snapshot.memberships_by_percentage_challenge_completed.each do |x|
        = x.user.name
        = x.membership_statistic_progress_percentage.value
      %br
      %br
      TOP READERS (Based on a combination of all statistics for this Bible Challenge):
      = @challenge_snapshot.top_readers
