!!!
%html
  %head
    %meta{:content => "http://www.biblechallenges.com", :property => "og:url"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "Bible Challenges", :property => "og:title"}/
    %meta{:content => "I'm in a Challenge! -- Create/join a Bible reading challenge at BibleChallenges.com.  Set a goal. Challenge yourself/your friends. Read God's Word!", :property => "og:description"}/
    %meta{:content => "/assets/logo", :property => "og:image"}/
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title Bible Challenges
        = stylesheet_link_tag    "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
  %body


    / Nav Header
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %span
            .fb-like{"data-share" => "false", "layout" => "button_count", "data-show-faces" => "true", "data-width" => "450"}
            %a.navbar-brand{href: "/"} BibleChallenges.com
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to "Blog", "http://blog.biblechallenges.com"
            %li
              = link_to "FAQ", page_path("faq")
            %li
              - if user_signed_in?
                = link_to('My Challenges', member_challenges_path)
            %li.profile-link
              - if user_signed_in?
                = link_to edit_user_path do
                  = render 'shared/avatar', user: current_user
            - if user_signed_in?
              %li
                = link_to('Logout', destroy_user_session_path, :method => :delete)
            - else
              %li
                = link_to('Login', new_user_session_path)
              %li
                = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
              %li
                = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)

          .form-inline.navbar-form.navbar-right
            = form_tag challenges_path, method: :get, class: "input-group" do
              .input-group
                = text_field_tag :query, nil, class: "form-control", hide_label: true, placeholder: "Search for a challenge"
                %span.input-group-btn
                  = submit_tag "Search", class: "btn btn-primary query"
        .flash-messages
          = render partial: "shared/flash_messages", flash: flash
    = yield

    = yield :javascripts
    
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '#{ENV['FACEBOOK_APP_ID']}',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=#{ENV['FACEBOOK_APP_ID']}";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
