!!!
%html
  %head
    %link{:href => "http://www.biblechallenges.com", :rel => "canonical"}/
    %meta{:content => "href", :property => "http://www.biblechallenges.com"}/
    %meta{:content => "#{ENV['APP_URL']}", :property => "og:url"}/
    %meta{:content => "#{ENV['FACEBOOK_APP_ID']}", :property => "fb:app_id"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "BibleChallenges.com", :property => "og:title"}/
    %meta{:content => "Visit my Bible challenge, or create your own! -- New and ongoing reading challenges at BibleChallenges.com.  Set a goal. Challenge yourself/your friends. Read God's Word!", :property => "og:description"}/
    %meta{:content => "https://s3-us-west-1.amazonaws.com/biblechallenges.com/facebook/logo-1105.png", :property => "og:image"}/
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title Bible Challenges
        = stylesheet_link_tag    "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags

    :javascript
      (function(d,n)
        {var s,a,p;
        s=document.createElement("script");
        s.type="text/javascript";
        s.async=true;
        s.src=(document.location.protocol==="https:"?"https:":"http:")+"//cdn.nudgespot.com"+"/nudgespot.js";
        a=document.getElementsByTagName("script");
        p=a[a.length-1];
        p.parentNode.insertBefore(s,p.nextSibling);
        window.nudgespot=n;
        n.init=function(t){function f(n,m){var a=m.split('.');
        2==a.length&&(n=n[a[0]],m=a[1]);
        n[m]=function(){n.push([m].concat(Array.prototype.slice.call(arguments,0)))}}n._version=0.1;n._globals=[t];n.people=n.people||[];
        n.params=n.params||[];
        m="track register unregister identify set_config people.delete people.create people.update people.create_property people.tag people.remove_Tag".split(" ");
        for(var i=0;i<m.length;i++)f(n,m[i])}})(document,window.nudgespot||[]);nudgespot.init('#{ENV['NUDGESPOT_JS_API_KEY']}');

  %body

    / Nav Header
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %span
            .fb-like{"data-share" => "false", "layout" => "button_count", "data-show-faces" => "true", "data-width" => "450"}
            %a.navbar-brand{href: "/"} BibleChallenges.com
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to "Blog", "http://blog.biblechallenges.com"
            %li
              = link_to "FAQ", page_path("faq")
            %li
              - if user_signed_in?
                = link_to('My Challenges', member_challenges_path)
            %li.profile-link
              - if user_signed_in?
                = link_to edit_user_path do
                  = render 'shared/avatar', user: current_user
            - if user_signed_in?
              %li
                = link_to('Logout', destroy_user_session_path, :method => :delete)
            - else
              %li
                = link_to('Login', new_user_session_path)
              %li
                = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
              %li
                = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)

          .form-inline.navbar-form.navbar-right
            = form_tag challenges_path, method: :get, class: "input-group" do
              .input-group
                = text_field_tag :query, nil, class: "form-control", hide_label: true, placeholder: "Search for a challenge"
                %span.input-group-btn
                  = submit_tag "Search", class: "btn btn-primary query"
        .flash-messages
          = render partial: "shared/flash_messages", flash: flash
    = yield

    = yield :javascripts
    
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '#{ENV['FACEBOOK_APP_ID']}',
          xfbml      : true,
          status    : true
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=#{ENV['FACEBOOK_APP_ID']}";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
