!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title
          = t "layouts.application.title"
        = stylesheet_link_tag    "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
  %body

    / Nav Header
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} BibleChallenges.com
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to I18n.t('layouts.application.faq'), page_path("faq")
            %li
              - if user_signed_in?
                = link_to I18n.t('layouts.application.mychallenges'), member_challenges_path
            %li.profile-link
              - if user_signed_in?
                = link_to edit_user_path do
                  = render 'shared/avatar', user: current_user
            - if user_signed_in?
              %li
                = link_to I18n.t('layouts.application.logout'), destroy_user_session_path, :method => :delete
            - else
              %li
                = link_to I18n.t('layouts.application.login'), new_user_session_path
              %li
                = link_to I18n.t('layouts.application.signin'), user_omniauth_authorize_path(:facebook)
              //%li
              //  = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)

          .form-inline.navbar-form.navbar-right
            = form_tag challenges_path, method: :get, class: "input-group" do
              .input-group
                = text_field_tag :query, nil, class: "form-control", hide_label: true, placeholder: I18n.t("layouts.application.search_holder")
                %span.input-group-btn
                  = submit_tag I18n.t("layouts.application.search"), class: "btn btn-primary query"
        .flash-messages
          = render partial: "shared/flash_messages", flash: flash
    = yield

    = yield :javascripts
