!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title Biblechallenge
        = stylesheet_link_tag    "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
  %body

    / Nav Header
    .navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: "/"} BibleChallenges.com
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li#search
              .form-inline.search_challenge
                = bootstrap_form_tag url: challenges_path, method: :get, class: "input-xxlarge form-query" do |f|
                  = f.text_field :query, class: "search-input", hide_label: true, placeholder: "Search for a challenge"
                  %a{class: "btn btn-primary query", type: "submit", id: "challenge_search"}
                    %span.glyphicon.glyphicon-search
            %li
              = link_to "FAQ", page_path("faq")
            %li
              - if user_signed_in?
                = link_to('My Challenges', member_challenges_path)
            %li
              - if user_signed_in?
                = link_to("Edit Profile", edit_user_registration_path)
            - if user_signed_in?
              %li
                = link_to('Logout', destroy_user_session_path, :method => :delete)
            - else
              %li
                = link_to('Login', new_user_session_path)
              %li
                = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
              %li
                = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)

    .flash-messages
      = render partial: "shared/flash_messages", flash: flash
    = yield

    = yield :javascripts
